<form method='post'>
    {% csrf_token %}
    {{classform.title.label}}<br>
    {{classform.title}}<br>
    {{classform.body.label}}<br>
    {{classform.body}}<br>
    {{classform.email.label}}<br>
    {{classform.email}}<br>

    <button type="submit">Kirim</button>
</form>


<!-- <form method='post'>
    {% csrf_token %}
    {{classform.namac.label_tag}} <br>
    {{classform.namac}}
    <table>{{classform.as_table}}</table>
    <label for="nama">Nama: </label>
    <input type="text" name="nama" id="nama">
    <br>
    <label for="alamat">Alamat: </label>
    <input type="text" name="alamat" id="alamat">
    <br>
    <button type="Submit">Submit</button>
</form>

<h2>{{nama}} {{namac}}</h2>
<h2>{{alamat}} {{alamatc}}</h2> -->